canvas {
    border: 0px solid black;
    vertical-align: top
}

.menuCanvasClass {
    z-index: 2;
    position: absolute;
    text-align: center;
    background-color : rgba(158, 167, 184, 0.2)
}

.moredivpositions {
    min-width: 600px;
    width:expression(document.body.clientWidth < 600? "600px": "auto" );
    z-index: 1;
    display: block;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    /*this made this go center*/
    text-align: center
}

.cloudCanvasPosition {
    display: inline-block
}

.cloudCanvasPositionRight {
    margin-left: 1px;    
    /*margin-top: 100px;
    margin-bottom: 100px;*/
    /*margin-left: 50px;*/
}
